{
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": [2, "always"],
    "keyword-spacing": [2, {"before": true, "after": true}],
    "space-before-blocks": [2, "always"],
    "comma-dangle": [2, "always-multiline"]
  },
  "parser": "babel-eslint"
}