<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue Stripe Checkout</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  
  <script src="./build/vue-stripe-checkout.js"></script>
	<style>
    body {
      color: white;
      font-family: 'PT Sans', sans-serif;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
    }

    .form-control {
      margin-bottom: 10px;
    }

    .logo {
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }

    #btn {
      color: white;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
    }

    #btn:hover {
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      cursor: pointer;
    }
  </style>
</head>
<body id="body">
	<div id="app">
    <div class="container">
      <div style="height: 100vh;" class="row pt-5">
        <div class="col-xs-12 col-md-8 text-center mb-3">
          <img class="logo" width="150" src="./vue-stripe-checkout-logo.png" alt="Vue Stripe Checkout"> 
          <br>
          <br>
          <h3>Vue Stripe Checkout</h3>
          <pre style="color: white;">Status: {{status}}</pre>
          <br>
          <button id="btn" class="btn" @click="checkout">Pay {{currency}}{{(amount / 100).toFixed(2)}}</button>
          <div class="row text-left mt-3">
            <div class="col-xs-12 col-md-6">
              <h5>Token from promise</h5>
              <pre style="color: white;">{{tokenFromPromise}}</pre>
            </div>
            <div class="col-xs-12 col-md-6">
              <h5>Token from @done event</h5>
              <pre style="color: white;">{{tokenFromEvent}}</pre>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <label for="">Use this sample card number</label>
          <input v-model="sampleCard" type="text" class="form-control" placeholder="Sample Card">
          <label for="">Image</label>
          <input v-model="image" type="text" class="form-control" placeholder="Image URL">
          <label for="">Name</label>
          <input v-model="name" type="text" class="form-control" placeholder="Name">
          <label for="">Description</label>
          <input v-model="description" type="text" class="form-control" placeholder="Description">
          <label for="">Currency</label>
          <input v-model="currency" type="text" class="form-control" placeholder="Currency">
          <label for="">Amount</label>
          <input v-model="amount" type="number" class="form-control" placeholder="Amount in number">
        </div>
      </div>
    </div>
    <vue-stripe-checkout
      ref="checkoutRef"
      :image="image"
      :name="name"
      :description="description"
      :currency="currency"
      :amount="amount"
      @done="done"
      @opened="opened"
      @closed="closed"
    ></vue-stripe-checkout>
	</div>
  <script>
    (function() {
      var x = true;
      setInterval(function() {
        var bg = document.getElementById('body');
        var btn = document.getElementById('btn');
        if(x) {
          bg.style.backgroundColor = '#6772e5';
          btn.style.backgroundColor = '#42b883';
          x = false;
        } else {
          bg.style.backgroundColor = '#42b883';
          btn.style.backgroundColor = '#6772e5';
          x = true;
        }
      }, 3000)
    })();
  </script>
	<script>
    Vue.use(VueStripeCheckout, 'pk_test_INH6o8QUdJyZM1TuGKs5PIsT');

    var vm = new Vue({
      el: '#app',
      data() {
        return {
          status: 'Closed',
          tokenFromPromise: {},
          tokenFromEvent: {},
          sampleCard: '4242 4242 4242 4242',
          image: 'https://i.imgur.com/HhqxVCW.jpg',
          name: 'Shut up and take my money!',
          description: 'Cats are the best dog!',
          currency: 'PHP',
          amount: 99999
        }
      },
      methods: {
        async checkout () {
          this.tokenFromPromise = await this.$refs.checkoutRef.open();
        },
        done(token) {
          this.tokenFromEvent = token;
        },
        opened() {
          this.status = 'Opened';
        },
        closed() {
          this.status = 'Closed';
        },
        submit(token) {
          console.log('token', token);
          console.log('Submit this token to your server to perform a stripe charge, or subscription.');
        },
      }
    });
  </script>
</body>
</html>
