<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Stripe Checkout by Jofferson R Tiquez</title>
  <meta description="Vue Stripe Checkout by Jofferson R Tiquez">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159972005-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159972005-1');
  </script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar dark class="elevation-1" color="#6772e5" app flat>
          <v-btn :href="home" text x-large>Vue Stripe Checkout</v-btn>
        <v-spacer></v-spacer>
        <v-btn large text href="https://github.com/jofftiquez/vue-stripe-checkout">Star on Github</v-btn>
      </v-app-bar>
      <v-content>
        <v-container>
          <v-row justify="center">
            <v-col cols="12" sm="10" md="6">
              <v-card height="100%">
                <v-card-text>
                  <h1>Recurring Subscription Demo</h1>
                </v-card-text>
                <v-card-text>
                  <p>
                    Create a recurring product with a monthly plan in your Stripe dashboard.
                  </p>
                  <v-card flat color="#f1f1f1">
                    <v-card-text>
                      <pre>items: {{itemsRecurring}}</pre>
                    </v-card-text>
                  </v-card>
                </v-card-text>
                <v-card-text class="pt-0">
                  <vue-stripe-checkout
                    pk="pk_test_INH6o8QUdJyZM1TuGKs5PIsT"
                    ref="subscribeRef"
                    :items="itemsRecurring"
                    :success-url="successUrl"
                    :cancel-url="cancelUrl"
                    :client-reference-id="'org-id-abc123'"
                  >
                    <template slot="checkout-button">
                      <v-btn 
                        @click="$refs.subscribeRef.redirectToCheckout()"
                        color="#42b883"
                        large
                        dark
                      >Subscribe</v-btn>
                    </template>
                  </vue-stripe-checkout>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" sm="10" md="6">
              <v-card height="100%">
                <v-card-text>
                  <h1>Subscription Demo using Session</h1>
                </v-card-text>
                <v-card-text>
                  <p>
                    Create a session in your backend and paste the session id below.
                  </p>
                  <v-card flat color="#f1f1f1">
                    <v-card-text>
                      <v-text-field v-model="sessionId" solo label="Session Id" hint="Session Id starts with cs_test_" persistent-hint />
                    </v-card-text>
                  </v-card>
                </v-card-text>
                <v-card-text class="pt-0">
                  <vue-stripe-checkout
                    pk="pk_test_INH6o8QUdJyZM1TuGKs5PIsT"
                    ref="sessionRef"
                    :session-id="sessionId"
                  >
                    <template slot="checkout-button">
                      <v-btn 
                        @click="$refs.sessionRef.redirectToCheckout()"
                        color="#42b883"
                        large
                        dark
                      >Subscribe</v-btn>
                    </template>
                  </vue-stripe-checkout>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" sm="10" md="6">
              <v-card height="100%">
                <v-card-text>
                  <h1>One-time Payment Demo</h1>
                </v-card-text>
                <v-card-text>
                  <p>
                    Create a SKU in your Stripe dashboard.
                  </p>
                  <v-card flat color="#f1f1f1">
                    <v-card-text>
                      <pre>items: {{items}}</pre>
                    </v-card-text>
                  </v-card>
                </v-card-text>
                <v-card-text class="pt-0">
                  <vue-stripe-checkout
                    pk="pk_test_INH6o8QUdJyZM1TuGKs5PIsT"
                    ref="checkoutRef"
                    :items="items"
                    :success-url="successUrl"
                    :cancel-url="cancelUrl" 
                  >
                    <template slot="checkout-button">
                      <v-btn 
                        @click="$refs.checkoutRef.redirectToCheckout()"
                        color="#42b883"
                        large
                        dark
                      >Checkout</v-btn>
                    </template>
                  </vue-stripe-checkout>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" sm="10" md="6">
              <v-card height="100%">
                <v-card-text>
                  <h1>Elements Demo</h1>
                </v-card-text>
                <v-card-text>
                  <v-card flat color="#f1f1f1">
                    <v-card-text>
                      <pre>amount: {{amount}}</pre>
                    </v-card-text>
                  </v-card>
                  <br>
                  <v-card flat color="#f1f1f1">
                    <v-card-text>
                      <vue-stripe-elements
                        pk="pk_test_INH6o8QUdJyZM1TuGKs5PIsT"
                        :amount="amount"
                        ref="elementsRef"
                        @token="tokenCreated"
                        @loading="loading = $event"
                      >
                      </vue-stripe-elements>
                    </v-card-text>
                  </v-card>
                  <br>
                  <v-btn @click="$refs.elementsRef.submit()" color="#42b883" dark large>Pay ${{amount / 100}}</v-btn>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
      <v-dialog v-model="dialog" width="700" scrollable>
        <v-card>
          <v-toolbar flat>
            <v-spacer></v-spacer>
            <v-btn @click="dialog = false" text>Close</v-btn>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text>
            <br>
            <h1>Token</h1>
            <pre>{{token}}</pre>
            <br>
            <v-divider></v-divider>
            <br>
            <h1>Charge</h1>
            <pre>{{charge}}</pre>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-footer app absolute dark color="#42b883">
        <v-col class="text-right pa-1">
          Made with ❤️ by <a class="white--text" target="_blank" href="https://twitter.com/jrtiquez">@jrtiquez</a>
        </v-col>
      </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./dist/vue-stripe-checkout.js"></script>
  <script>
    Vue.component('vue-stripe-checkout', VueStripeCheckout.StripeCheckout);
    Vue.component('vue-stripe-elements', VueStripeCheckout.StripeElements);
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
        return {
          token: null,
          charge: null,
          dialog: false,
          amount: 10000,
          loading: false,
          sessionId: '',
          items: [
            {
              sku: 'sku_FdQKocNoVzznpJ', 
              quantity: 1
            }
          ],
          itemsRecurring: [
            {
              plan: 'plan_GsW5WXeHdTwLbF',
              quantity: 1
            },
            {
              plan: 'plan_GsmXPUVY4OelPZ',
              quantity: 1
            }
          ],
          successUrl: `${document.location.href}success.html`,
          cancelUrl: `${document.location.href}cancel.html`,
          home: location.href
        };
      },
      methods: {
        tokenCreated (token) {
          console.warn(token);
          this.token = token;
          this.charge = {
            source: token.card,
            amount: this.amount,
            description: this.description
          }
          this.sendTokenToServer(this.charge);
        },
        sendTokenToServer (charge) {
          // Send to server
          this.dialog = true;
        }
      }
    });
  </script>
</body>

</html>
